---
import { getCollection } from "astro:content";
import Card from '../components/Card.astro';
import Layout from "../layouts/Layout.astro"

const playlists = await getCollection('playlists')
---
<Layout title="Home">
	<main>
		<ul class="flex flex-wrap justify-center gap-8 w-80vw mx-auto my-4">
			{
				playlists.map((playlist) => (
					<Card
						playlistId={playlist.id}
						playlistName={playlist.data.playlistName}
						playlistImage={playlist.data.playlistImage}
					/>
			))
			}
		</ul>
	</main>
</Layout>
