---
interface Props {
	playlistName: string;
	playlistId: string;
	playlistImage: string;
}

const { playlistName, playlistId, playlistImage } = Astro.props;
---

<div class="w-64 h-64 relative overflow-hidden rounded-lg shadow-lg group bg-gradient-to-tr from-stone-900 from-0% to-neutral-800">
	<div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-0 group-hover:opacity-70 transition-opacity pointer-events-none"></div>
	<a href={`./playlist/${playlistId}`}>
		<img class="w-64 h-64 bg-cover bg-center block" src={playlistImage}/>
	</a>
	<div class="absolute w-64 bottom-0 left-0 p-4 pt-0 text-white transition-transform transform translate-y-full group-hover:translate-y-0 flex justify-between">
		<h3 class="text-lg font-semibold cursor-default">{playlistName}</h3>		  
	</div>
	</div>
</div>